<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ViMouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB6B6BE01B5B57C6006E606C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB6B6BF41B5B57C6006E606C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB6B6BFF1B5B57C6006E606C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
